@import "./styles/reset.css";

@font-face {
  font-family: "borg";
  src: url("../assets/Borg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "halogen";
  src: url("../assets/HalogenRoughbyPixelSurplus-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixel";
  src: url("../assets/square_pixel-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "pixel";
  text-shadow: 0 0 6px #13e24f;
  color: rgba(19, 226, 79, 255);
  background-color: rgba(20, 29, 33, 255);
}

.modal_container {
  position: absolute;
  top: 35%;
  z-index: 2;
  width: 500px;
  background-color: rgba(20, 29, 33, 255);
  border: 2px solid rgba(19, 226, 79, 255);
  padding: 15px 15px 15px 15px;
  box-shadow: 0 0 5px #13e24f;
}

.intro_modal {
  //display: flex;
  //justify-content: space-around;

  h2 {
  display: inline-block;
  font-family: "borg";
  font-size: 112px;
  padding-left: 64px;
  margin-bottom: -8px;
}

  h3 {
    display: inline-block;
    width: 60%;
    font-family: "halogen";
    letter-spacing: 3px;
    padding: 0;
  }
}

.pilot_manual {
  display: flex;
  justify-content: center;
  margin-left: 45px;
  margin-right: 65px;
}

.diagram {
  margin: auto;
  font-family: "halogen";
  font-size: 16px;
  width: fit-content;
  box-shadow: 0 0 2px rgb(19 226 79);

  .nav_diagram {
  width: 202px;
  height: 30px;
  border: 1px dotted rgba(19, 226, 79, 255);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_diagram {
  display: flex;
}

.orbit_diagram {
    width: 100px;
    height: 100px;
    border: 1px dotted rgba(19, 226, 79, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.middle_sims_diagram {
  width: 50px;
  height: 100px;
  border-top: 1px dotted rgba(19, 226, 79, 255);
  border-bottom: 1px dotted rgba(19, 226, 79, 255);

  .gravity_diagram {
    width: 50px;
    height: 50px;
    border-bottom: 1px dotted rgba(19, 226, 79, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .temperature_diagram {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.readout_diagram {
  width: 50px;
  height: 100px;
  border: 1px dotted rgba(19, 226, 79, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.modal_legend {
  text-align: left;
  margin: 16px 0 0px 0;
  h3 {
    font-family: "halogen";
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 5px;
  }
}

.modal_button_container {
    margin-left: 204px;
    margin-top: 17px;
    margin-bottom: 7px;

  .close_modal_button {
    font-family: "halogen";
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 0 0 8px #13e24f;
    color: #13e24f;
    background-color: #141d21;
    border: 1px solid #13e24f;
    border-radius: 3px;
    box-shadow: 0 0 5px #13e24f;
    height: 30px;
    margin: 0 10px 0;
  }

  .close_modal_button:hover {
    box-shadow: 0 0 10px #13e24f;
    transform: scale(1.05);
    transition: 0.3s;
  }
}


h2 {
  font-family: "borg";
  font-size: 130px;
  padding-left: 10px;
  margin-bottom: -20px;
}

h3 {
  font-size: 16px;
  font-family: "pixel";
  letter-spacing: 2px;
  padding: 1px 5px 0px;
  text-shadow: 0 0 8px #13e24f;
}

.h4_container {
  display: inline-block;
  margin: 1px 0 0 4px;
  width: 240px;
  height: 16px;
  border: 0.5px solid rgba(19, 226, 79, 255);
  border-radius: 3px;
  box-shadow: 0 0 5px #13e24f;

  h4 {
  font-size: 16px;
  text-indent: -9999px;
  padding: 0 0 1px 5px;
  font-family: "pixel";
  letter-spacing: 2px;
  text-shadow: 0 0 8px #13e24f;
  }
}


.main_content {
  display: inline-block;
  margin-top: 100px;
  z-index: 1;
}

.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1022px;
  height: 50px;
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  margin-bottom: 3px;

  h2 {
    font-size: 35px;
    letter-spacing: 2px;
    padding-left: 8px;
    margin-bottom: -6px;
  }

}

.open_modal_button:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor:default;
}

#volume {
  filter: drop-shadow(0 0 3px #13e24f);
}

#volume:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.nav_bar button {
  font-family: "halogen";
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 0 0 8px #13e24f;
  color: rgba(19, 226, 79, 255);
  background-color: rgba(20, 29, 33, 255);
  border: 1px solid rgba(19, 226, 79, 255);
  border-radius: 3px;
  box-shadow: 0 0 5px #13e24f;
  height: 30px;
  margin: 0 10px 0;
}

.nav_bar button:hover {
  box-shadow: 0 0 10px #13e24f;
  transform: scale(1.05);
  transition: 0.3s;
}

.nav_links {
  display: flex;
  align-content: center;
  margin-right: 10px;

  i {
    font-size: 32px;
    color:rgba(19, 226, 79, 255);
    text-shadow: 0 0 3.5px #13e24f;
    margin-left: 5px;

    &:hover {
      transform: scale(1.15);
      transition: 0.3s;
    }
  }
}


.nav_links a:last-child {
  margin-left: 15px;
}

.sim_content {
  display: flex;
  justify-content: start;
}

.orbit_sim {
  width: 520px;
  height: 620px;
  margin-right: 5px;
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.orbit_header {
  display: inline - block;
  width: 200px;
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  padding-bottom: -50px;
  margin-bottom: 3px;
}

.orbit_canvas {
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  width: 508px;
  height: 508px;
  //margin-left: 10px;
}

// .gravity_sim {
//   margin-top: 47px;
//   width: 270px;
//   height: 320px;
//   border: 2px solid rgba(19, 226, 79, 255);
//   box-shadow: 0 0 5px #13e24f;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: space-around;
// }

.middle_sims {
  margin-left: 3px;
}

.gravity_canvas {
  //margin-top: 113px;
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  width: 250px;
  height: 250px;
  //margin-left: 10px;
}

.temperature_sim {
  width: 251px;
  height: 251px;
}

.temperature_canvas {
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  width: 250px;
  height: 250px;
  //margin-left: 10px;
}

.readout_data {
  //margin-top: 113px;
  margin-left: 3px;
  border: 2px solid rgba(19, 226, 79, 255);
  box-shadow: 0 0 5px #13e24f;
  width: 250px;
  height: 508px;
}

#myChart {
  padding: 10px 10px 0px 5px;
  //margin: 10px 20px 50px 10px;
  width: 249px;
  height: 249px;
}
